spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/db_bank_dev
    username: ffx
    password: ffx

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration

jwt:
  secret: super-secret-dev-key
