spring:

  datasource:
    url: jdbc:h2:mem:bank-db;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console


logging:
  level:
    root: INFO
    org.springframework.boot.actuate: DEBUG
    org.springframework.web.servlet.mvc.method.annotation: DEBUG